@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
    --font-archivo: "Archivo";
    --font-holtwood: "Holtwood One SC";
    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 700;

    --sea-blue-100: #0267ff;
    --sea-blue-400: #cce1ff;
    --sea-blue-500: #67a4ff;
    --sea-blue-800: #b3d1ff;
    --sea-blue-900: #0252cc;

    --error-100: #ff0000;
    --error-500: #ff6666;
    --error-900: #cc0000;

    --success-100: #00e600;
    --success-700: #99f599;

    --gray-100: #fafafb;
    --gray-300: #d1d5dc;
    --gray-700: #a6a6ab;
    --gray-800: #bcbcc0;
    --gray-900: #d2d3d5;
    --gray-1000: #e9e9ea;

    --black: #000;
    --black-200: #1a1a2a;
    --black-300: #58585c;

    --white: #fff;
}

body {
    font-family: "Archivo", sans-serif;
    color: var(--black-300);
    line-height: 1.5;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black-200);
    font-weight: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.drawer--show {
    width: 80%;
}

.drawer--hide {
    width: 0%;
}

.backdrop--hide {
    display: none;
}

.backdrop--show {
    display: block;
}

@media (min-width: 768px) {
    .drawer--show {
        width: 300px;
    }
}

th {
    color: #000;
    font-weight: 500 !important;
}

table.dataTable td.dt-type-date,
table.dataTable th.dt-type-date,
table.dataTable th.dt-type-numeric,
table.dataTable td.dt-type-numeric {
    text-align: left !important;
}

.slider-container {
    width: 250px;
    z-index: 1;
}

.slider {
    width: calc(250px * 3);
    height: inherit;
    animation: slide-left 10s infinite;
}

@keyframes slide-left {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    30% {
        left: -250px;
    }
    50% {
        left: -250px;
    }
    60% {
        left: -500px;
    }
    100% {
        left: -500px;
    }
}

.slider-item {
    width: 250px;
    height: inherit;
}

@media (min-width: 768px) {
    .slider-container,
    .slider-item {
        width: 230px;
    }

    .slider {
        width: calc(230px * 4);
    }

    @keyframes slide-left {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        30% {
            left: -230px;
        }
        50% {
            left: -230px;
        }
        60% {
            left: -460px;
        }
        100% {
            left: -460px;
        }
    }
}

@media (min-width: 996px) {
    .slider-container,
    .slider-item {
        width: 280px;
    }

    .slider {
        width: calc(280px * 4);
    }

    @keyframes slide-left {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        30% {
            left: -280px;
        }
        50% {
            left: -280px;
        }
        60% {
            left: -560px;
        }
        100% {
            left: -560px;
        }
    }
}

@media (min-width: 1200px) {
    .slider-container,
    .slider-item {
        width: 300px;
    }

    .slider {
        width: calc(300px * 4);
    }

    @keyframes slide-left {
        0% {
            left: 0;
        }
        20% {
            left: 0;
        }
        30% {
            left: -300px;
        }
        50% {
            left: -300px;
        }
        60% {
            left: -600px;
        }
        100% {
            left: -600px;
        }
    }
}
